body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  padding: 0%;
}

.container-fluid {
  margin: 0%;
  padding: 0%;
}

.jumbotron-fluid {
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
  height: auto;
  width: auto;
  color: #ffffff;
  text-align: center;
  padding: 40px;
}

.logo {
  margin-top: 100px;
}

.landing-page {
  margin-bottom: 70px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.landing-page h1 {
  font-weight: bold;
}

.aboutUs {
  text-align: center;
  padding: 50px;
  clear: both;
}

